includes:
	- ./vendor/larastan/larastan/extension.neon
	- ./vendor/yamadashy/phpstan-friendly-formatter/extension.neon

parameters:
	errorFormat: friendly

	ignoreErrors:
		- '#Trait [a-zA-Z0-9\\_]+ is used zero times and is not analysed#'

	paths:
		- app/
		- modules/

	level: 8

	excludePaths:
		- ./app/tests/*
		- ./modules/*/tests/*
