frontend/docs/.vitepress/cache
!.vscode/extensions.json
.DS_Store
.env
.env.backup
.env.production
.fleet
.idea
.idea
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.storybook
.vault-password
.vscode
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
auth.json
coverage
cypress/screenshots/
cypress/videos/
dist
dist-ssr
Homestead.json
Homestead.yaml
lerna-debug.log*
logs
node_modules
node_modules
npm-debug.log
npm-debug.log*
playwright-report/
pnpm-debug.log*
public/build
public/hot
public/storage
storage/*.key
test-results/
vendor
yarn-debug.log*
yarn-error.log
yarn-error.log*
