!.vscode/extensions.json
.DS_Store
.env
# .infrastruture/environment/*.env
.fleet
.idea
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.secrets
.storybook
.vault-password
.vscode
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
auth.json
cache
coverage
cypress/screenshots/
cypress/videos/
dist
dist-ssr
docs/.vitepress/cache
docs/.vitepress/dist
Homestead.json
Homestead.yaml
lerna-debug.log*
logs
node_modules
npm-debug.log
playwright-report/
pnpm-debug.log*
public/build
public/hot
public/storage
storage
storage/*.key
test-results/
vendor
yarn-debug.log*
yarn-error.log
yarn-error.log*
.infrastruture/volume_data/
.infrastruture/traefik/

