includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - modules/

    level: 9

#     ignoreErrors:
#        - '#PHPDoc tag @var#'

    excludePaths:
        - ./app/tests/*
        - ./modules/*/tests/*

