DOCKER_URL=platform.test
DOCKER_URL_DOCS=docs.platform.test
DOCKER_URL_STORAGE=storage.platform.test
DOCKER_URL_EMAIL=mail.platform.test

DOCKER_PATH_ROOT=/platform
DOCKER_PATH_WEBROOT=/platform/application/public
DOCKER_PATH_APP=/platform/application
DOCKER_PATH_FRONTEND=/platform/frontend/web
DOCKER_PATH_DS=/platform/frontend/ds
DOCKER_PATH_DOCS=/platform/docs

DOCKER_PORT=80
DOCKER_PORT_VITE=3000
DOCKER_PORT_SSL=443
DOCKER_PORT_MYSQL=3356
DOCKER_PORT_APP=8080
DOCKER_PORT_REDIS=6379
DOCKER_PORT_DOCS=5800
DOCKER_PORT_STORAGE=9000
DOCKER_PORT_STORAGE_CONSOLE=8900
DOCKER_PORT_EMAIL=1025
DOCKER_PORT_EMAIL_DASHBOARD=8025

DOCKER_DB_CONNECTION=central
DOCKER_DB_HOST=127.0.0.1
DOCKER_DB_DATABASE=laravel
DOCKER_DB_USERNAME=localuser
DOCKER_DB_ROOT_PASSWORD=root
DOCKER_DB_PASSWORD=notroot

DOCKER_REDIS_HOST=redis
DOCKER_REDIS_PASSWORD=null

DOCKER_STORAGE_USERNAME='storage_user'
DOCKER_STORAGE_PASSWORD=password
